.signup-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
}

.signup-container h2 {
  text-align: center;
}

.signup-container form {
  display: flex;
  flex-direction: column;
}

.signup-container input {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.signup-container button {
  padding: 10px;
  border-radius: 4px;
  background-color: #3f51b5;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.signup-container button:hover {
  background-color: #45a049;
}


  .usernme{
    padding-top: 10px;
    position: relative;
    max-width: 400px;
    margin: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;

  }

  .password{

    padding-top: 25px;
    position: relative;
    max-width: 600px;
    margin: 0 auto;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
  }
 
  .button-name{ 
    padding-top: 25px;
    position: relative;
    max-width: 400px;
    margin: 0 auto;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;

  }

  .footer{
    text-align: center;
    margin-right: 12px;

  }