.signup-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
  }
  
  .signup-container h2 {
    text-align: center;
  }
  
  .signup-container form {
    display: flex;
    flex-direction: column;
  }
  
  .signup-container input {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .signup-container button {
    padding: 10px;
    border-radius: 4px;
    background-color: #3f51b5;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
  
  .signup-container button:hover {
    background-color: #45a049;
  }
  
  .login-link {
    text-align: center;
    margin-right: -138px;
    padding: 17px;
  }
  
  .footer{
    text-align: center;
    margin-right: 12px;

  }

  .lock-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
    margin-left: 155px;
  }
  
  .lock-icon {
    color: white;
    font-size: 24px;
  }
  